server:
  port: 8086

spring:
  application:
    name: asset-service

  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      database: mybank_asset
      username: ${SPRING_DATA_MONGODB_USERNAME:mybank}
      password: ${SPRING_DATA_MONGODB_PASSWORD:mybank123}
      authentication-database: ${SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE:admin}

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    timeout: 3000ms

  cloud:
    discovery:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  health:
    redis:
      enabled: false
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.mybank.asset: DEBUG
    org.springframework.data.mongodb: DEBUG
    org.springframework.cache: DEBUG
